
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    
}
html {
    font-family: Consolas;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

body{
  background-color:#12264f;
}

div.col-12,div.col-m-12{
text-align:center;
color:gold;
}


#tuplea{
  display: inline-block;
 width:80px;
  height:80px;


}

#buraga{
  float:right;
 width:80px;
  height:80px;

}

#pacfac{
  font-size:20px;
}

#signup {
  font-size:16px;
}

#iftene{
  display: inline-block;
 width:80px;
  height:80px;


}

#radulescu{
  float:right;
  width:80px;
  height:80px;

}


button{
    padding: 8px 8px;
    position:center;
    font-size:16px;
    font-family: Consolas;
    cursor: pointer;
    color: #12264f;
    background-color: gold;
    border-style: solid;
    border-color: #12264f;
    border-width: 2px;
    border-radius: 30px;
    text-decoration: none;
    width:150px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
      
button:hover {
      
        background-color: gold;
        border-color: gold;
        color: #847CB6;
        box-shadow: 0px 0px 10px #847CB6;
}

button:active {
        background-color: #12264f;
        color: gold;
        transform: translateY(3px);
}


a:link {
    text-decoration: none;
    color: #847CB6;
}

a:visited {
    text-decoration: none;
    color: #847CB6;
}

a:hover {
    text-decoration: underline;
    color: #847CB6;
}
a:active {
    text-decoration: underline;
    color:gold;
}



@media only screen and (min-width: 480px){
    
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

}

@media screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
#tuplea,#buraga,#iftene,#radulescu{
  width:200px;
  height:200px;

}

button{
  font-size:26px;
  width:320px;
}

#pacfac{
  font-size:65px;

  margin-bottom:30px;
}

#signup {
  margin-top:70px;
}

}