body{
	background-color:#12264f;
  overflow:hidden;

}
.container {
  
  margin:0px auto;
  width: 450px;
  }
 
.login {
  position: relative;
  margin: 0 auto;
   text-align:center;
  padding: 0px 20px 20px;
  width: 330px;
  color: gold;
  font-family: Consolas;
}

#tuplea{
  position: relative;
  margin-top:0px;
  margin-left:0px;
  width:200px;
  height:200px;

}


#buraga{
  position: relative;
  margin-top:-300px;
  margin-right:0px;
  width:200px;
  height:200px;

}


button{
	  padding: 8px 8px;
    position:center;
    font-size: 24px;
    font-family: Consolas;
    cursor: pointer;
    color: #12264f;
    background-color: gold;
    border-style: solid;
    border-color: #12264f;
    border-width: 2px;
    border-radius: 30px;
    text-decoration: none;
    width: 98%;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
			
button:hover {
			
        background-color: gold;
        border-color: gold;
        color: #847CB6;
        box-shadow: 0px 0px 10px #847CB6;
}

button:active {
				background-color: #12264f;
				color: gold;
				transform: translateY(3px);
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 15px 15px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size:100%;
}

a:link {
    text-decoration: none;
    color: #847CB6;
}

a:visited {
    text-decoration: none;
    color: #847CB6;
}

a:hover {
    text-decoration: underline;
    color: #847CB6;
}
a:active {
    text-decoration: underline;
    color:gold;
}


#pacfac{
  margin-bottom:30px;
  text-align:center;
  font-size:400%;
  color:gold;
}

#signup {
	margin-top:70px;
	text-align:center;
}

img{
  display: block;
  margin:100px auto;
}
}