body{
	background-image: url("Background.jpg");
}
.homeButton{
		position: absolute;
		top: 100px;
		left: 1580px;
		padding: 10px 20px;
		text-align: center;
		font-size: 25px;
		font-weight: 900;
		font-family: Consolas;
		cursor: pointer;
		color: gold;
		background-color: navy;
		border-style: solid;
		border-color: gold;
		border-width: 2px;
		border-radius: 30px;
		text-decoration: none;
		
}
			
.homeButton:hover {
				font-weight: bold;
				background-color: gold;
				border-color: navy;
				border-width: 4px;
				color: navy;
				border-width: 5px;
}

.homeButton:active {
				background-color: navy;
				color: gold;
				transform: translateY(2px);
				border-color: gold;
}

div.pac-fac{
	position: absolute;
	font-family: consolas;
	font-size: 650%;
	color: gold;
	top:-50px;
	left:650px;

}

div.description{
	position:absolute;
	font-family:consolas;
	color:gold;
	text-align: center;
	font-size: 150%;
	top:200px;
	left: 0px;
}

div.urla{
	position: absolute;
	font-family: consolas;
	color: gold;
	text-align: center;
	font-size: 650%;
	left: 765px;
	top:400px;

}

div.pacman{
	position:absolute;
	left: 850px;
	top: 600px;
}