body{
	background-image: url("Background.jpg");
}
.homeButton{
		position: absolute;
		top: 100px;
		left: 1580px;
		padding: 10px 20px;
		text-align: center;
		font-size: 25px;
		font-weight: 900;
		font-family: Consolas;
		cursor: pointer;
		color: gold;
		background-color: navy;
		border-style: solid;
		border-color: gold;
		border-width: 2px;
		border-radius: 30px;
		text-decoration: none;
		
}
			
.homeButton:hover {
				font-weight: bold;
				background-color: gold;
				border-color: navy;
				border-width: 4px;
				color: navy;
				border-width: 5px;
}

.homeButton:active {
				background-color: navy;
				color: gold;
				transform: translateY(2px);
				border-color: gold;
}

div.pac-fac{
	position: absolute;
	font-family: consolas;
	font-size: 650%;
	color: gold;
	top:-50px;
	left:650px;

}

div.scores{
	position:relative;
	font-family:consolas;
	color:gold;
	text-align: justified;
	font-size: 150%;
	top:200px;
	left: 850px;
}
.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  font-weight: bold;
				background-color: gold;
				border-color: navy;
				border-width: 4px;
				color: navy;
				border-width: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

div.footer{
	position: absolute;
	font-family: consolas;
	color: gold;
	text-align: center;
	font-size: 500%;
	left: 800px;
	bottom: 100px;

}

div.pacman{
	position:absolute;
	left: 850px;
	bottom: 20px;
}


