body{
	background-color:#12264f;
}

button{
	position: absolute;
	top: 100px;
	left: 1580px;
	padding: 10px 20px;
	text-align: center;
	font-size: 25px;
	font-weight: 900;
	font-family: Consolas;
	cursor: pointer;
	color: #151e3f;
	background-color: gold;
	border-style: solid;
	border-color: #151e3f;
	border-width: 2px;
	border-radius: 30px;
	text-decoration: none;

}

button:hover {
	font-weight: bold;
	background-color: gold;
	border-color: gold;
	border-width: 4px;
	color: #847CB6;
	border-width: 5px;
	box-shadow: 0px 0px 10px #847CB6;
}

button:active {
	background-color: #12264f;
	color: gold;
	transform: translateY(3px);
}

div.pac-fac{
	position: absolute;
	font-family: consolas;
	font-size: 650%;
	color: gold;
	top:-50px;
	left:650px;

}

div.description{
	position:absolute;
	font-family:consolas;
	color:gold;
	text-align: center;
	font-size: 150%;
	top:200px;
	left: 0px;
}

div.urla{
	position: absolute;
	font-family: consolas;
	color: gold;
	text-align: center;
	font-size: 650%;
	left: 765px;
	top:400px;

}

div.pacman{
	position:absolute;
	left: 850px;
	top: 600px;
}